# Environments and Secrets
.env
.env.local
*.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
backend/venv/
*.sqlite3
db.sqlite3
*.log

# Node / Frontend
node_modules/
frontend/node_modules/
dist/
frontend/dist/
.DS_Store

# Testing / Coverage
.pytest_cache/
.coverage
htmlcov/
